:root {
   --color-primary: #1890ff;
   --color-light-primary: #2aa1ff;
   --color-dark: #242424;
   --color-accent: #f0f2f5;
   --color-gray: #acb6c4;
   --color-dark-gray: #b3b3b3;
   --color-white: #fff;
}
